.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.GameSubmissionFormContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.GameHistoryContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
